@import "./mocha.sass";
@import "./font.css";

.markdown {
  color: $text;

  .head {
    color: $rosewater;
    border-bottom: 1px solid $rosewater;
    font-family: "Huiwen-mincho", serif;
  }

  h1 {
    @extend .head;

    font-size: 2.5rem;
  }

  h2 {
    @extend .head;

    font-size: 2rem;
  }

  h3, h4, h5, h6 {
    color: $rosewater;
    font-size: 1.5rem;
  }

  a {
    color: $teal;

    &:active {
      color: $lavender;
    }
  }

  blockquote {
    background-color: $yellow-opacity;
    border-left: 2px solid $yellow;
    border-radius: 1em;
  }

  hr {
    margin-top: 1rem;
    border-image: repeating-linear-gradient(45deg, $red, $peach 10px, $yellow 20px, $green 40px, $teal 50px, $sky 60px, $blue, 70px, $lavender 80px, $mauve 90px, $red 100px) 1;
    width: calc(100%);
  }
}